.func-view {
  .content-container {
    padding: 74px 10px 10px 10px;
  }

  .side-nav {
    position: fixed;
    height: 100%;
    display: flex;

    .sidenav {
      margin-top: 64px;
    }
  }

}
