[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
rope = "*"
fabric = {extras = ["testing"]}
grpcio-tools = "*"
googleapis-common-protos = "*"

[packages]
fabric = "*"
pyyaml = "*"
flask = "*"
pymongo = "*"
flask-restful = "*"
requests = "*"
flask-cors = "*"
grpcio = "*"

[requires]
python_version = "3.7"
