<div class="grid-container project-list">
  <a mat-mini-fab class="project-add" (click)="addProject()">+</a>
  <div class="card-list">
    <mat-card class="project-card" *ngFor="let proj of projects">
        <mat-card-header>
          <mat-card-title>{{proj.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{proj.name}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button (click)="onDelete(proj)">{{'Delete' | translate}}</a>
          <a mat-button (click)="onGoProject(proj)">{{"Detail" | translate}}</a>
        </mat-card-actions>
      </mat-card>
  </div>
</div>

