<div class="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="menu-group">
        <span>{{appConfig.appName | translate}}</span>
      </div>

      <div class="menu-group right">
        <a class="nav-bar-button" mat-button [matMenuTriggerFor]="langMenu">{{'language' | translate}}</a>

        <mat-menu #langMenu="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item *ngFor="let lang of translate.getLangs()"
                  (click)="changeLang(lang)">{{lang | translate}}
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
