<app-login-header></app-login-header>

<div class="login-card-container">
  <mat-card class="login-card">
    <mat-card-content class="login-card-content">
      <div>
        <img src="./assets/iamges/logo.png">
      </div>

      <mat-form-field>
        <input matInput placeholder="{{'login-name-placeholder' | translate}}"
               [(ngModel)]="email"
               [formControl]="emailCtrl" required>
        <mat-error *ngIf="emailCtrl.invalid">{{getErrorMessage(emailCtrl) | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'login-pwd-placeholder' | translate}}"
               type="password"
               [(ngModel)]="pwd"
               [formControl]="passWord" required>
        <mat-error *ngIf="passWord.invalid">{{getErrorMessage(passWord) | translate}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" class="btn-login"
              (click)="doLogin()">{{'Login' | translate}}</button>
      <button mat-raised-button class="btn-login"
              (click)="doRegister()">{{'Register' | translate}}</button>

      <div class="login-help-info">
        <!--<a class="login-help" (click)="gotoHelp()">{{'login-help' | translate}}</a>-->
        <a class="login-forget-pwd" routerLink="/login/forget-pwd">{{'forget-pwd' | translate}}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
