<h2 mat-dialog-title>{{ 'Add Project' | translate }}</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="full-width">
    <input matInput placeholder="{{'Project Name' | translate}}"
           [(ngModel)]="projectName"
           [formControl]="projectNameCtrl" required
           cdkFocusInitial>
    <mat-error *ngIf="projectNameCtrl.invalid">{{'error-required' | translate}}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button>
  <button mat-button (click)="onSaveClick()">{{'Save'| translate}}</button>
</mat-dialog-actions>
