<div class="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="menu-group">
        <span>{{appName | translate}}</span>
      </div>

      <div class="menu-group">
        <a mat-button matBadge="10">{{'Project' | translate}}</a>
        <a mat-button>{{'Resource' | translate}}</a>
        <a mat-button>{{'Task' | translate}}</a>
      </div>

      <div class="menu-group right">
        <a mat-icon-button matBadge="10">
          <mat-icon aria-label="message">message</mat-icon>
        </a>

        <a class="nav-bar-button" mat-button [matMenuTriggerFor]="langMenu">{{'language' | translate}}</a>
        <mat-menu #langMenu="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item *ngFor="let lang of translateService.getLangs()"
                  (click)="changeLang(lang)">{{lang | translate}}
          </button>
        </mat-menu>

        <a mat-mini-fab [matMenuTriggerFor]="userMenu" color="withe">{{user.name}}</a>
        <mat-menu #userMenu="matMenu" yPosition="below" [overlapTrigger]="false">
          <a mat-menu-item (click)="doLogout()">{{'Quit' | translate}}</a>
        </mat-menu>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
